# Common Data Format Conversion
Every of our datasources keep their metadata in different formats and have different sets of parameters. In this notebook, we'll join them all into a proper .csv file for the future data processing and learning.

### Constants and imports

In [1]:
import pandas as pd
import json
import os


METADATA_DIRECTORY = 'metadata'
CMA_METADATA_FILE = os.path.join(METADATA_DIRECTORY, 'cma.json')
MET_METADATA_FILE = os.path.join(METADATA_DIRECTORY, 'met.json')
NGA_METADATA_FILE = os.path.join(METADATA_DIRECTORY, 'nga.json')
AIC_METADATA_FILE = os.path.join(METADATA_DIRECTORY, 'aic.json')
RESULT_METADATA_FILE = os.path.join(METADATA_DIRECTORY, 'metadata_joined.csv')

### Preparing output dataframe

In [2]:
result = pd.DataFrame()

### Loading CMA data

In [3]:
if os.path.exists(CMA_METADATA_FILE):
    with open(CMA_METADATA_FILE, 'r') as f:
        cma_metadata = json.load(f)

In [4]:
if cma_metadata is not None:
    rows = []
    for art_id in cma_metadata:
        row = {}
        metadata = cma_metadata[art_id]
        row['id'] = f'cma_{art_id}'
        row['title'] = metadata['title']
        row['date'] = metadata['creation_date']
        row['begin_date'] = None
        row['end_date'] = None
        row['culture'] = metadata['culture']
        row['technique'] = metadata['technique']
        row['type'] = metadata['type']
        row['department'] = metadata['department']
        row['collection'] = metadata['collection']
        row['path'] = metadata['path']
        rows.append(row)
        
    df_cma = pd.DataFrame(rows)
    result = pd.concat([result, df_cma], ignore_index=True)

In [5]:
result.describe()

,id,title,date,begin_date,end_date,culture,technique,type,department,collection,path
count,38599,38599,36989,0,0,38599,38255,38599,38599,38599,38599
unique,38599,27130,5317,0,0,4844,7144,63,19,165,38599
top,cma_96021,Page from Tales of a Parrot (Tuti-nama): text ...,1800s,NaN,NaN,"France, 19th century",etching,Print,Prints,PR - Etching,dataset/raw/cma_96021.jpg
freq,1,424,1093,NaN,NaN,3571,2586,10110,9936,3744,1

### Loading MET data

In [6]:
if os.path.exists(MET_METADATA_FILE):
    with open(MET_METADATA_FILE, 'r') as f:
        met_metadata = json.load(f)

In [7]:
if met_metadata is not None:
    rows = []
    for art_id in met_metadata:
        row = {}
        metadata = met_metadata[art_id]
        if 'path' not in metadata:
            continue
        row['id'] = f'met_{art_id}'
        row['title'] = metadata['objectName']
        row['date'] = metadata['objectDate']
        row['begin_date'] = metadata['objectBeginDate']
        row['end_date'] = metadata['objectEndDate']
        row['culture'] = f"{metadata['culture']}, {metadata['period']}"
        row['technique'] = metadata['medium']
        row['type'] = metadata['classification']
        row['department'] = metadata['department']
        row['collection'] = None
        row['path'] = metadata['path']
        rows.append(row)
        
    df_met = pd.DataFrame(rows)
    result = pd.concat([result, df_met], ignore_index=True)

In [8]:
result.describe()

,id,title,date,begin_date,end_date,culture,technique,type,department,collection,path
count,119297,119297,117687,80698,80698,119297,118953,119297,119297,38599,119297
unique,119297,35890,14986,1422,1421,7834,22995,581,35,165,118780
top,cma_96021,Print,19th century,1700,1899,",",Terracotta,Prints,Drawings and Prints,PR - Etching,dataset/raw/met_4208.jpg
freq,1,12763,3319,4364,3850,40461,7199,13782,21330,3744,12

### Loading NGA data

In [9]:
if os.path.exists(NGA_METADATA_FILE):
    with open(NGA_METADATA_FILE, 'r') as f:
        nga_metadata = json.load(f)

In [10]:
if nga_metadata is not None:
    rows = []
    for art_id in nga_metadata:
        row = {}
        metadata = nga_metadata[art_id]
        if 'path' not in metadata:
            continue
        row['id'] = f'nga_{art_id}'
        row['title'] = metadata['title']
        row['date'] = metadata['displaydate']
        row['begin_date'] = metadata['beginyear']
        row['end_date'] = metadata['endyear']
        row['culture'] = metadata['terms']['School'] if 'School' in metadata['terms'] else None
        row['technique'] =  metadata['terms']['Technique'] if 'Technique' in metadata['terms'] else None
        row['type'] = metadata['classification']
        row['department'] = None
        row['collection'] = metadata['creditline']
        row['path'] = metadata['path']
        rows.append(row)
        
    df_nga = pd.DataFrame(rows)
    result = pd.concat([result, df_nga], ignore_index=True)

In [11]:
result.describe()

,id,title,date,begin_date,end_date,culture,technique,type,department,collection,path
count,164663,164663,159210,126006,126003,159989,136368,164663,119297,83956,164663
unique,164663,69530,18966,1511,1479,7990,23162,586,35,2347,164146
top,cma_96021,Print,19th century,1700,1899,",",Terracotta,Print,Drawings and Prints,Index of American Design,dataset/raw/met_4208.jpg
freq,1,12763,3456,4460,4188,40461,7199,29492,21330,7398,12

### Loading AIC data

In [12]:
if os.path.exists(AIC_METADATA_FILE):
    with open(AIC_METADATA_FILE, 'r') as f:
        aic_metadata = json.load(f)

In [13]:
if aic_metadata is not None:
    rows = []
    for art_id in aic_metadata:
        row = {}
        metadata = aic_metadata[art_id]
        if 'path' not in metadata:
            continue
        row['id'] = f'aic_{art_id}'
        row['title'] = metadata['title']
        row['date'] = metadata['date_display']
        row['begin_date'] = metadata['date_start']
        row['end_date'] = metadata['date_end']
        row['culture'] = metadata['place_of_origin']
        row['technique'] =  metadata['medium_display']
        row['type'] = metadata['artwork_type_title']
        row['department'] = metadata['department_title']
        row['collection'] = metadata['credit_line']
        row['path'] = metadata['path']
        rows.append(row)
        
    df_aic = pd.DataFrame(rows)
    result = pd.concat([result, df_aic], ignore_index=True)

In [14]:
result.describe()

,id,title,date,begin_date,end_date,culture,technique,type,department,collection,path
count,206614,206614,201043,167782,167779,201819,177801,206454,161236,125904,206614
unique,206614,97003,25375,1836,1791,8690,36792,606,45,6224,205992
top,cma_96021,Print,19th century,1700,1899,",",Terracotta,Print,Drawings and Prints,Index of American Design,dataset/raw/met_4208.jpg
freq,1,12763,4154,5049,4922,40461,7245,46611,21330,7398,12

### Saving the .csv file

In [15]:
result.to_csv(RESULT_METADATA_FILE, index=False)