# Common Data Format Conversion
Every of our datasources keep their metadata in different formats and have different sets of parameters. In this notebook, we'll join them all into a proper .csv file for the future data processing and learning.

### Constants and imports

In [1]:
import pandas as pd
import json
import os
from tqdm.notebook import tqdm


METADATA_DIRECTORY = 'metadata'
CMA_METADATA_FILE = os.path.join(METADATA_DIRECTORY, 'cma.json')
MET_METADATA_FILE = os.path.join(METADATA_DIRECTORY, 'met.json')
NGA_METADATA_FILE = os.path.join(METADATA_DIRECTORY, 'nga.json')
AIC_METADATA_FILE = os.path.join(METADATA_DIRECTORY, 'aic.json')
GET_METADATA_FILE = os.path.join(METADATA_DIRECTORY, 'get.json')
RESULT_METADATA_FILE = os.path.join(METADATA_DIRECTORY, 'metadata_joined.csv')

### Preparing output dataframe

In [2]:
result = pd.DataFrame()

### Loading CMA data

In [3]:
if os.path.exists(CMA_METADATA_FILE):
    with open(CMA_METADATA_FILE, 'r') as f:
        cma_metadata = json.load(f)

In [4]:
if cma_metadata is not None:
    rows = []
    for art_id in cma_metadata:
        row = {}
        metadata = cma_metadata[art_id]
        row['id'] = f'cma_{art_id}'
        row['title'] = metadata['title']
        row['date'] = metadata['creation_date']
        row['begin_date'] = None
        row['end_date'] = None
        row['culture'] = metadata['culture']
        row['technique'] = metadata['technique']
        row['type'] = metadata['type']
        row['department'] = metadata['department']
        row['collection'] = metadata['collection']
        row['path'] = metadata['path']
        rows.append(row)
        
    df_cma = pd.DataFrame(rows)
    result = pd.concat([result, df_cma], ignore_index=True)

In [5]:
result.describe()

,id,title,date,begin_date,end_date,culture,technique,type,department,collection,path
count,38599,38599,36989,0,0,38599,38255,38599,38599,38599,38599
unique,38599,27130,5317,0,0,4844,7144,63,19,165,38599
top,cma_96021,Page from Tales of a Parrot (Tuti-nama): text ...,1800s,NaN,NaN,"France, 19th century",etching,Print,Prints,PR - Etching,dataset/raw/cma_96021.jpg
freq,1,424,1093,NaN,NaN,3571,2586,10110,9936,3744,1

### Loading MET data

In [6]:
if os.path.exists(MET_METADATA_FILE):
    with open(MET_METADATA_FILE, 'r') as f:
        met_metadata = json.load(f)

In [7]:
if met_metadata is not None:
    rows = []
    for art_id in met_metadata:
        row = {}
        metadata = met_metadata[art_id]
        if 'path' not in metadata:
            continue
        row['id'] = f'met_{art_id}'
        row['title'] = metadata['objectName']
        row['date'] = metadata['objectDate']
        row['begin_date'] = metadata['objectBeginDate']
        row['end_date'] = metadata['objectEndDate']
        row['culture'] = f"{metadata['culture']}, {metadata['period']}"
        row['technique'] = metadata['medium']
        row['type'] = metadata['classification']
        row['department'] = metadata['department']
        row['collection'] = None
        row['path'] = metadata['path']
        rows.append(row)
        
    df_met = pd.DataFrame(rows)
    result = pd.concat([result, df_met], ignore_index=True)

In [8]:
result.describe()

,id,title,date,begin_date,end_date,culture,technique,type,department,collection,path
count,119297,119297,117687,80698,80698,119297,118953,119297,119297,38599,119297
unique,119297,35890,14986,1422,1421,7834,22995,581,35,165,118780
top,cma_96021,Print,19th century,1700,1899,",",Terracotta,Prints,Drawings and Prints,PR - Etching,dataset/raw/met_4208.jpg
freq,1,12763,3319,4364,3850,40461,7199,13782,21330,3744,12

### Loading NGA data

In [9]:
if os.path.exists(NGA_METADATA_FILE):
    with open(NGA_METADATA_FILE, 'r') as f:
        nga_metadata = json.load(f)

In [10]:
if nga_metadata is not None:
    rows = []
    for art_id in nga_metadata:
        row = {}
        metadata = nga_metadata[art_id]
        if 'path' not in metadata:
            continue
        row['id'] = f'nga_{art_id}'
        row['title'] = metadata['title']
        row['date'] = metadata['displaydate']
        row['begin_date'] = metadata['beginyear']
        row['end_date'] = metadata['endyear']
        row['culture'] = metadata['terms']['School'] if 'School' in metadata['terms'] else None
        row['technique'] =  metadata['terms']['Technique'] if 'Technique' in metadata['terms'] else None
        row['type'] = metadata['classification']
        row['department'] = None
        row['collection'] = metadata['creditline']
        row['path'] = metadata['path']
        rows.append(row)
        
    df_nga = pd.DataFrame(rows)
    result = pd.concat([result, df_nga], ignore_index=True)

In [11]:
result.describe()

,id,title,date,begin_date,end_date,culture,technique,type,department,collection,path
count,219825,219825,209637,181102,181093,209251,157451,219825,119297,139110,219825
unique,219825,105124,21461,1519,1485,8022,23190,586,35,3427,219308
top,cma_96021,Print,c. 1936,1936,1899,American,gelatin silver print,Print,Drawings and Prints,Index of American Design,dataset/raw/met_4208.jpg
freq,1,12763,3668,4629,4611,52858,11600,53602,21330,16629,12

### Loading AIC data

In [12]:
if os.path.exists(AIC_METADATA_FILE):
    with open(AIC_METADATA_FILE, 'r') as f:
        aic_metadata = json.load(f)

In [13]:
if aic_metadata is not None:
    rows = []
    for art_id in aic_metadata:
        row = {}
        metadata = aic_metadata[art_id]
        if 'path' not in metadata:
            continue
        row['id'] = f'aic_{art_id}'
        row['title'] = metadata['title']
        row['date'] = metadata['date_display']
        row['begin_date'] = metadata['date_start']
        row['end_date'] = metadata['date_end']
        row['culture'] = metadata['place_of_origin']
        row['technique'] =  metadata['medium_display']
        row['type'] = metadata['artwork_type_title']
        row['department'] = metadata['department_title']
        row['collection'] = metadata['credit_line']
        row['path'] = metadata['path']
        rows.append(row)
        
    df_aic = pd.DataFrame(rows)
    result = pd.concat([result, df_aic], ignore_index=True)

In [14]:
result.describe()

,id,title,date,begin_date,end_date,culture,technique,type,department,collection,path
count,261776,261776,251470,222878,222869,251081,198884,261616,161236,181058,261776
unique,261776,132102,27812,1842,1795,8719,36820,606,45,7299,261154
top,cma_96021,Print,19th century,1800,1899,American,gelatin silver print,Print,Drawings and Prints,Index of American Design,dataset/raw/met_4208.jpg
freq,1,12763,4324,5157,5345,52858,11600,70721,21330,16629,12

### Loading GET data

In [15]:
if os.path.exists(GET_METADATA_FILE):
    with open(GET_METADATA_FILE, 'r') as f:
        get_metadata = json.load(f)

In [16]:
if get_metadata is not None:
    rows = []
    for art_id in tqdm(get_metadata):
        row = {}
        metadata = get_metadata[art_id]
        if 'path' not in metadata:
            continue
        row['id'] = metadata['id']
        row['title'] = metadata['title']
        row['type'] = metadata['type'] 
        row['path'] = metadata['path']
        row['department'] = metadata['department']
        row['collection'] = metadata['collection']
        row['culture'] = metadata['culture']
        row['technique'] = metadata['technique']
                
        row['date'] = metadata['date']
        row['begin_date'] = metadata['begin_date']
        row['end_date'] = metadata['end_date']
        rows.append(row)
        
    df_get = pd.DataFrame(rows)
    result = pd.concat([result, df_get], ignore_index=True)

  0%|          | 0/38493 [00:00<?, ?it/s]

In [17]:
result.describe()

,id,title,date,begin_date,end_date,culture,technique,type,department,collection,path
count,279293,279293,268987,240363,240386,266108,216368,279082,178753,198573,279293
unique,279293,147474,29706,2381,2327,8844,37368,787,51,8738,278671
top,cma_96021,Print,19th century,1800,1899,American,gelatin silver print,Print,Drawings and Prints,Index of American Design,dataset/raw/met_4208.jpg
freq,1,12763,4327,5157,5345,58091,11600,78634,21330,16629,12

### Saving the .csv file

In [18]:
result.to_csv(RESULT_METADATA_FILE, index=False)

In [19]:
result.tail(10)

,id,title,date,begin_date,end_date,culture,technique,type,department,collection,path
279283,3f080fb5-32f5-4f65-8282-e28e45788e8b,Boulders. This canon is 140 1/2 miles in lengt...,1870–1874,1870-01-01 00:00:00,1874-12-31 23:59:59,American,Albumen silver print,Stereograph,Photographs (Curatorial Department),"The J. Paul Getty Museum, Los Angeles",dataset/raw/get_3f080fb5-32f5-4f65-8282-e28e45...
279284,3f085e7a-849c-492b-a729-0b1a7ca24d1c,[Le temple de Vesta],about 1860,1860-01-01 00:00:00,1860-12-31 23:59:59,Italian,Albumen silver print,Stereograph,Photographs (Curatorial Department),"The J. Paul Getty Museum, Los Angeles",dataset/raw/get_3f085e7a-849c-492b-a729-0b1a7c...
279285,3f08fe14-6561-4e97-b7e2-4a041b2f6d08,"Scene Pinogana, Isthmus of Darien.",1870,1870-01-01 00:00:00,1870-12-31 23:59:59,American,Albumen silver print,Stereograph,Photographs (Curatorial Department),"The J. Paul Getty Museum, Los Angeles",dataset/raw/get_3f08fe14-6561-4e97-b7e2-4a041b...
279286,3f0b3748-98d4-4ee2-bef5-c88516e49c9d,"[View of Springfield, Massachusetts]",about 1868,1868-01-01 00:00:00,1868-12-31 23:59:59,American,Albumen silver print,Stereograph,Photographs (Curatorial Department),Gift of Weston J. and Mary M. Naef,dataset/raw/get_3f0b3748-98d4-4ee2-bef5-c88516...
279287,3f0c44de-bbb6-49b4-926f-dcde3cd23292,"Grand Canal, Venice",1856–1859,1856-01-01 00:00:00,1859-12-31 23:59:59,British,Albumen silver print from a paper negative,Print,Photographs (Curatorial Department),"The J. Paul Getty Museum, Los Angeles",dataset/raw/get_3f0c44de-bbb6-49b4-926f-dcde3c...
279288,3f0c5d7e-34b6-40bb-9ba3-6e4f95bf4250,Monsieur Ricord,1862,1862-01-01 00:00:00,1862-12-31 23:59:59,French,Albumen silver print,Print,Photographs (Curatorial Department),"The J. Paul Getty Museum, Los Angeles",dataset/raw/get_3f0c5d7e-34b6-40bb-9ba3-6e4f95...
279289,3f0c7d55-4bb0-492b-b488-9c8c9c2d14db,[Flea Market Stalls on rue du Rocher] (84.XO.9...,about 1845–1848,1845-01-01 00:00:00,1848-12-31 23:59:59,French,Salted paper print,Print,Photographs (Curatorial Department),"The J. Paul Getty Museum, Los Angeles",dataset/raw/get_3f0c7d55-4bb0-492b-b488-9c8c9c...
279290,3f0de5e4-8dff-4b1d-bcad-45059d12dedc,[Entrance to a cave],about 1869,1869-01-01 00:00:00,1869-12-31 23:59:59,American,Albumen silver print,Stereograph,Photographs (Curatorial Department),"The J. Paul Getty Museum, Los Angeles",dataset/raw/get_3f0de5e4-8dff-4b1d-bcad-45059d...
279291,3f0e66f1-3b09-4ba3-a8c3-293bfb13c152,Attic Geometric Two-handled Cup,about 900 B.C.,-0900-01-01T00:00:00,-0900-12-31T23:59:59,Greek (Attic),Terracotta,Cup,Antiquities (Curatorial Department),"The J. Paul Getty Museum, Villa Collection, Ma...",dataset/raw/get_3f0e66f1-3b09-4ba3-a8c3-293bfb...
279292,3f0e8242-7daa-4416-b35b-03c98592fe85,[English Booth group],1864,1864-01-01 00:00:00,1864-12-31 23:59:59,None,Albumen silver print,Print,Photographs (Curatorial Department),"The J. Paul Getty Museum, Los Angeles",dataset/raw/get_3f0e8242-7daa-4416-b35b-03c985...